/**This is Native CSS Footer*/
footer,
section {
  padding: 50px 0;
  clear: both;
  font-size: 20px;
  color: #ffffff;
  color: #cccccc;
  text-align: center;
  background: #666666;
  line-height: inherit;
}

/*This is Bulma Library Footer*/
#hero-body{
      text-align: center;
      height: 5px;
      position: sticky; 
}
/*This is end of the Bulma Library Footer*/