/**This is Native CSS Footer*/
footer {
  padding: 50px 0;
  clear: both;
  font-size: 20px;
  color: #ffffff;
  color: #cccccc;
  text-align: center;
  background: #666666;
  line-height: inherit;
}
/*This is Bulma Library Footer*/
#hero-body{
      text-align: center;
      height: 5px;
      position: sticky; 
}
/*This is end of the Bulma Library Footer*/
.grid-container {

}

.card-image{ 
width: 350px; 
height: 300%;

}

.card { 
  width: 350px; 
  height: 400px;
  float: left; 

  grid-column-gap: 50px;

}
.card-title { 
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
}
* { 
  /* Extra small devices (phones, 600px and down) */
  @media only screen and (max-width: 600px) {...} 
  
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {...} 
  
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {...} 
  
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {...} 
  
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {...}
  

  @media #{$small-and-down} {
    // styles for small screens and down
  }
  @media #{$medium-and-up} {
    // styles for medium screens and larger
  }
  @media #{$medium-and-down} {
    // styles for medium screens and down
  }
  @media #{$large-and-up} {
    // styles for large screens and up
  }
  @media #{$extra-large-and-up} {
    // styles for extra large screens and up
  }
            
  
  }
  